[Unit]
Description=BT Port server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User={{USER}}
PIDFile=/var/spool/balcon/pid/portserver.pid
WorkingDirectory=/var/lib/balcon
ExecStart=/usr/bin/env python /usr/local/bin/portServer.py
SyslogIdentifier=portserver

[Install]
WantedBy=multi-user.target
