[Unit]
Description=MQTT to SQL update service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User={{USER}}
PIDFile=/var/spool/balcon/pid/master.pid
WorkingDirectory=/var/lib/balcon
ExecStart=/usr/bin/env python /usr/local/bin/mqttUpdate.py

[Install]
WantedBy=multi-user.target
